<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS6oh_1FVX7KE6Nj75sR4lIY3QqVI9qi8</string>
	<key>GCM_SENDER_ID</key>
	<string>772623390030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yello.superplants</string>
	<key>PROJECT_ID</key>
	<string>super-plants-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>super-plants-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772623390030:ios:e78c197dae4368ec453a1f</string>
</dict>
</plist>